<%= form_tag (playlist_path), :method => :get do %>
  <ul class="">
    <% if @search_results%>
      <% @search_results.each do |song|%>
      <li>
          <img src="<%= song[:album_art] %>" alt="" class="pull-left"/>
          
          <div class="news-item-info">
              <div class=""><a href="#"> SONG:<%= song[:song_name] %></a></div>
              <div class="position"> ARTIST: <%= song[:song_artist] %></div>
              <div class="time"> ALBUM: <%= song[:song_album] %></div>
              <div class=""><input class ="pull-right" type="radio" name="song_to_add" value="<%=song[:song_name]%>|;<%=song[:song_artist]%>|;<%=song[:song_album]%>|;<%= song[:song_uri]%>|;<%= song[:album_art]%>|;<%= song[:duration_ms]%>"></div>
          </div>
          <br>
      </li>
      </ul>
      <%end%>
      <br>
      <div class=""><%= submit_tag 'Add to Party Queue', class: "btn btn-sm" %></div>
  <%end%>
<% end %>