<%= form_tag (playlist_path), :method => :get do %>

<table id="songSelect" class="rowclick">
  
    <tr id="head">
      <th scope="Row">Photo</th>
      <th>Artist</th>
      <th>Track</th>
      <th>Album</th>
    </tr>
      

  <tbody>
 
      <tr>
      <% @search_results.each do |song|%>
        <td><img src="<%= song[:album_art] %>"></td>  
        <td>Artist: <%= song[:song_artist] %></td> 
        <td>Song: <%= song[:song_name] %></td>
        <td>Album: <%= song[:song_album] %></td> 
        <td> <input type="radio" name="song_to_add" value="<%=song[:song_name]%>|;<%=song[:song_artist]%>|;<%=song[:song_album]%>|;<%= song[:song_uri]%>|;<%= song[:album_art]%>|;<%= song[:duration_ms]%>"></td>

      </tr>
    <%end%>
  

  </tbody>
</table>

<br>
<center><%= submit_tag 'Select' %></center>
<% end %>
