<h1>Parties#index</h1>
<p>Find me in app/views/parties/index.html.erb</p>
<h2>Your Playlists:</h2>

<ul id="parties">
<% @parties.each do |party| %>
		<% if party["code"] %>
			<a href="/<%=party["code"]%>"><%=party["name"]%>, <%=party["code"]%></a>
		<%= button_to "delete", :method => :delete, :id => party.id%><br>
		<%end%>
<% end %>
</ul>

<%= link_to 'create a new party', new_party_path %>
<p>OR</p>
<%= form_tag(joinparty_path, method: "get") do %>
  <%= label_tag(:code, "Input Party Code Here:") %>
  <%= text_field_tag(:code) %>
  <%= submit_tag("Join a Party!") %>
<% end %>
