 <h5><% if current_user %>
    Not <%= current_user.name %>?
    <strong>
    <%= link_to 'Sign out', signout_path %></strong></h5>
  <% end %>
<section class="widget">
  <h4>Your Parties:</h4>

  <table class="table table-hover">
    <tbody id="parties">
    <div class="body">
    <% @parties.each do |party| %>
      <tr>
    		<% if party["code"] %>
      		<td><span class="label">	
              <h4><a href="/<%=party["code"]%>"><%=party["name"]%> (Party Code: <%=party["code"]%>)</a></h4>

              <h4><span class="trash_icon"><i class= 'fa fa-trash-o'></span><%= button_to"",{:method => :delete, :id => party.id}, {:onclick => "return confirm('Are you sure you want to delete this item?')", :form_class => "btn btn-delete"} %></i></h4>
            </span>
          </td>
    		<%end%>
        </tr>
    <% end %>
      </div>
    </tbody>
  </table>
</section>

<section class ="widget">
    <table class = "table">
      <div class = "body">
        <%= render 'party_form'%>
        <h4>OR</h4>
        <%= render 'join_form' %>
      </div>
    </table>
</section>
