<section class="widget">
<h4>Your Playlists:</h4>

  <table class="table table-hover">
    <tbody id="parties">
    <div class="body">
    <% @parties.each do |party| %>
      <tr>
    		<% if party["code"] %>
      		<td><span class="label">	
              <h4><a href="/<%=party["code"]%>"><%=party["name"]%> (Party Code: <%=party["code"]%>)</a></h4>

              <h4><i class= 'fa fa-trash-o'><%= button_to "", {:method => :delete, :id => party.id}, :form_class => "btn btn-delete" %></i></h4>
            </span>
          </td>
    		<%end%>
        </tr>
    <% end %>
      </div>
    </tbody>
  </table>
</section>

<section class ="widget">
    <table class = "table">
      <div class = "body">
        <%= render 'form5'%>
        <h4>OR</h4>
        <%= render 'form4' %>
      </div>
    </table>
</section>