<h1>Parties#new</h1>

<p>Here's a all of your options:</p>

<%= form_for(@party) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_field :name %>
	<%= 
<% end %>

<p>What's the name of the party?</p>
<input type="text_field" name="party_name" value="">
<p>...and the name of the playlist?</p>
<input type="text_field" name="playlist_name" value="">
<p>How many upvotes is each person allowed?</p>
	<select name="vote_number">
    <%= (1..5).each do |number| %>
      <option name="vote_number" value="<%= number %>"><%= number %></option>
      <% end %>
    </select>
   <%= submit_tag "Submit"%>
   <%end%>
 </form>
