<h1><%=@party.name%></h1>

<p>Party Code: <%=@party.code%></p>
<%= render 'form3' %>
<h2>Party Queue!</h2>

<% if @party.songs.count > 0%>   
  <table id="playlistQueue" class="rowclick">
      <tr id="head">
        <th scope="Row"></th>
        <th>Artist</th>
        <th>Track</th>
        <th>Album</th>
        <th>Votes</th>
      </tr>
    <tbody>
        <tr>
        <% @party.songs.each do |song|%>
          <td><img src="<%= song.album_art %>"></td>  
          <td>Artist: <%= song.artist %></td> 
          <td>Track: <%= song.title %></td>
          <td>Album: <%= song.album %></td> 
        </tr>
      <%end%>
    </tbody>
  </table>
<%else%>
  Your queue is empty.
<%end%>
<br>
<h2>Search for Songs</h2>
<%= render 'form' %>
<br>
<h2>Search Results</h2>
<% if @search_results%>
  <%= render 'form2' %>
<%end%> 


 
