 <h5><% if current_user %>
    Welcome, <%= current_user.name %>!
    <strong><%= link_to 'My parties', parties_path %> |
    <%= link_to 'Sign out', signout_path %></strong></h5>
  <% end %> 

 <div class="content container">
       <div class="row">
            <div class="col-md-12">
                <h2 class="page-title"><%=@party.name%> <small>Party Code:<%=@party.code%></small></h2>
            </div>
       </div>
</div>

<div class="widget">
<%= render 'text_form' %>
</div>

      <div class="">
                <section class="widget widget-tabs">
                        <h4>Party Queue</h4>

                    
                        <div class="body">
                          <div id="chat" class="chat">
                              <div id="chat-messages" class="chat-messages">
                                  <div class="chat-message">
                                    <% if @party.songs.count > 0%> 
                                      <% @songs.each do |song|%>
                                      <div class="sender pull-left">
                                          <div class="icon">
                                              <img src="<%= song.album_art %>" class="" alt="">
                                          </div>
                                      </div>
                                          <div class="chat-message-body">
                                            <span class="arrow"></span>
                                            <div class="sender"><a href="#">SONG:<%= song.title %></a></div>
                                            <div class="text">
                                                ARTIST: <%= song.artist %> | ALBUM:<%= song.album %> | VOTES:
                                                <span id="vote_count_<%=song.id%>"></span>
                                                <div class=""><%= button_to "+1", upvote_path(song_id: song, code: @party.code), remote: true, class: "btn btn-sm" %></div>
                                              </div>
                                                
                                          </div>
                                        <br>
                                      <%end%>
                                      <div>
                                        <% if current_user == @party.user %>
                                      <%= form_for(@party, url: playparty_path) do |f| %>
                                        <%= f.hidden_field :user_id, value: "play_party" %>
    <%= f.submit 'Start the party!', :class => 'btn btn-info btn-sm' %>
                                      <%end%>
                                      <%end%>
                                    </div>
                                  <%else%>
                                    Your queue is empty.
                                  <%end%>

                                </div>
                </section>
            </div>

                <section class="widget">
                    <div class="col-md-12">
                        <div id="" class="tab-pane active clearfix">
                            <h3 class="tab-header"><i class="fa fa-spotify fa-2x"></i> SPOTIFY TRACK SEARCH</h3><br>
                                <%= render 'queue'%>
                                <br>
                                <%= render 'search_form' %>
                            
                        </div>
                    </div>
                </section>


 
