<h1><%=@party.name%></h1>
<p>Find me in app/views/party/show.html.erb</p>

<p>this party belongs to the party: <%= @party.name%></p><br>
<p>owner of this party: <%=@party.user.name%></p><br>
<p>party code: <%=@party.code%></p><br>

SEARCH
<%= render 'form' %>

SEARCH_RESULTS
<% if @search_results%>
<%= render 'form2' %>
<%end%> 

PLAYLIST  
