<h1><%=@party.name%></h1>
<p>Find me in app/views/party/show.html.erb</p>

<p>this party belongs to the party: <%= @party.name%></p><br>
<p>party code: <%=@party.code%></p><br>



<br>

SEARCH
<%= render 'form' %>

SEARCH_RESULTS
<% if @search_results%>
<%= render 'form2' %>
<%end%> 
<br>
PLAYLIST  

<%@party.songs.each do |song|%>
 	<%=song.title%>
 <%end%>
