<h1>Songs#create</h1>
<p>Find me in app/views/songs/create.html.erb</p>
<%= render 'form' %>


<% if @search_results%>
    <ul>
    <% @search_results.each do |song|%>  
      <li>Song: <%= song[:song_name] %></li> 
      <li>Artist: <%= song[:song_artist] %></li> 
      <li>Album: <%= song[:song_album] %></li> 
      <li>Spotify URI: <%= song[:song_uri] %></li><br>
    </ul>
  <%end%>
<%end%>  