<h1>This is the User#index</h1>
<p>Everyone starts here.</p>

<% if current_user %>
  Welcome <%= current_user.name %>!
	<%= link_to 'sign out', signout_path %>, <%= link_to 'start a new party', new_party_path %> 

<% else %>
  <%= link_to 'Sign in with Spotify', "/auth/spotify" %>
<% end %>

<br>

<%= link_to 'Join a party', '/party/show' %>
