<h1>Playlist#create</h1>
<p>Find me in app/views/playlist/create.html.erb</p>

<p>Here's a all of your options:</p>

<%= form_tag("/playlists/show", :method => :post) do %>
<p>What's the name of the party?</p>
<input type="text_field" name="party_name" value="">
<p>How many upvotes is each person allowed?</p>
	<select name="vote_number">
    <%= (1..5).each do |number| %>
      <option name="vote_number" value="<%= number %>"><%= number %></option>
      <% end %>
    </select>
   <%= submit_tag "Submit"%>
   <%end%>
 </form>


