<!DOCTYPE html>
<html>
<head>
  <title>Teamplaylister</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if current_user %>
    Welcome <%= current_user.name %>!
    <%= link_to 'sign out', signout_path %> 
  <% end %>
  
  <%= yield %>
</body>
</html>
